<div>
  <app-navbar [value]="title"></app-navbar>
  <hr />
  <app-cart-badge></app-cart-badge>
  <hr />
  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link " routerLink="/home">Home</a>
        <!-- <app-home></app-home> -->
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/items">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/login">Sign-In</a>
      </li>
    </ul>
  </div>
  <hr />

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>