<div class = "yourname">
    <h5 *ngIf="cartItems.length === 0">
        No items in Cart
    </h5>
    <table class="table table-sm table-bordered" *ngIf = "cartItems.length !== 0">
        <thead class = "thead-light">
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope = "col">Total</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems">
              <!-- <td>{{item.id}}</td> -->
              <td>{{item.name}}</td>
              <td>&#8377;{{item.price}}</td>
              <td>
                <button class="btn btn-sm btn-dark"(click)="incOrDecQty(item, +1)">+</button>
                &nbsp;{{cart[item.id].qty}}&nbsp;
                <button class="btn btn-sm btn-dark"(click)="incOrDecQty(item, -1)">-</button>
              </td>
              <td>&#8377;{{item.price*cart[item.id].qty}}</td>
            </tr>
          </tbody>
        
      </table>  
    <button class = "buy"> Buy </button>

    <!-- </button> -->
    </div>
    